@define-color journal_roundbox_bg_color lighter (@theme_bg_color);
@define-color journal_timeline_color darker(@theme_bg_color);
@define-color journal_label_color shade (@theme_bg_color, 0.9);

GtkDrawingArea {
    background-color: alpha(#000, 0.0);
}

GtkNotebook{
    background-color: alpha(#000, 0.0);
}

/*****************************
* TESTING GTK STYLES
*
******************************/
.round-button-left {
    background-image : -gtk-gradient(radial,
                                    center center, 0,
                                    center center, 8,
                                    from(#FFF),
                                    color-stop(0.5, @journal_label_color),
                                    to(#FFF));
     border-image : none;
     border-color: @journal_label_color;
     border-radius: 5px;
     border-top-left-radius : 0px;
     border-bottom-left-radius : 0px;
     border-width: 2px 2px 2px 0px;
}

.round-button-right {
    background-image : -gtk-gradient(radial,
                                    center center, 0,
                                    center center, 8,
                                    from(#FFF),
                                    color-stop(0.5, @journal_label_color),
                                    to(#FFF));
     border-image : none;
     border-color: @journal_label_color;
     border-radius: 5px;
     border-top-right-radius : 0px;
     border-bottom-right-radius : 0px;
     border-width: 2px 0px 2px 2px;
}

.round-button-right:hover {
     border-color: @journal_timeline_color;
}

.round-button-left:hover {
     border-color: @journal_timeline_color;
}

.border-right {
/*    background-repeat : no-repeat;*/
/*    background-image : url("assets/right.png");*/
/*    border-image : none;*/
/*    border-width: 0px;*/
}

.border-left {
/*    background-repeat : no-repeat;*/
/*    background-image : url("assets/left.png");*/
/*    border-image : none;*/
/*    border-width: 0px;*/
      color : @journal_timeline_color;
}


/*LOADING Label*/
.loading {
}

.loading GtkLabel{
    font-size: 40;
    font-weight: bold;
}


/* DAY VIEW STYLE */
.dayview {
    background-color: @journal_label_color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-image: none;
    background-image: none;
}

@define-color label shade (@journal_label_color, 0.4);
#dayview-label {
    font-size: 11;
    font-weight: bold;
    color: @label;

    padding-top: 6px;
    padding-bottom: 6px;
}
/* TIMELINE STYLE */
.roundbox {
    background-color: @journal_roundbox_bg_color;
    border-color: @journal_timeline_color;
}

.timeline-gtk {
    color: @journal_timeline_color;
    border-color: @journal_roundbox_bg_color;
}

.timeline-clutter {
    background-color: @journal_timeline_color;
    color: @journal_roundbox_bg_color;
}

/*TIMELINE FILTER*/

GtkScale.mark {
    color: @theme_fg_color;
}

.vtimenav GtkButton {
    background-color: @journal_label_color;
    border-image: none;
    background-image: none;
    /*padding: 10px;*/
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.htimenav GtkButton{
    background-color: @journal_label_color;
    border-image: none;
    background-image: none;
    /*padding: 10px;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

@define-color journal_label_hover_color lighter (@journal_label_color);
.vtimenav GtkButton:hover,
.htimenav GtkButton:hover{
    background-color: @journal_label_hover_color;
}

/* OSD STYLE */
.separator {
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-height: 1;
}

.throbber {
    background-image: none;
    background-color: alpha(#000, 0.0);
}

.osd {
    background-image: none;
    background-color: alpha(#000, 0.0);
    color: #ffffff;
}

.osd GtkButton{
    border-image: none;
    background-image: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: alpha(#000, 0.8);
    color: #ffffff;
    border-radius: 10px;
}

.osd GtkLabel {
    font-size: 11;
    font-weight: bold;
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
}

.osd .toolbar {
    padding: 6px 6px;
    border-style: none;
    border-radius: 5px;
    border-width: 0;

    background-image: none;
    background-color: alpha(#fff, 0.15);

    text-shadow: 1 1 black;
    icon-shadow: 1 1 black;
}

.osd .toolbar .favorite {
    color: shade(@theme_selected_bg_color, 1.20);
}

.osd .toolbar .separator {
    color: alpha(@theme_tooltip_fg_color, 0.30);
}

.osd .toolbar .button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(@theme_tooltip_fg_color, 0.00)),
                                    color-stop(0.50, alpha(@theme_tooltip_fg_color, 0.15)),
                                    to(alpha(@theme_tooltip_fg_color, 0.00)));

    border-image: none;
    border-style: none;
    border-radius: 2px;
    border-width: 0;
}

.osd .toolbar .button:active {
    background-image: none;
    background-color: alpha(@theme_tooltip_fg_color, 0.15);

    border-image: none;
    border-style: none;
    border-radius: 2px;
    border-width: 0;
}

.osd .toolbar .button:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(@theme_tooltip_fg_color, 0.15)),
                                    color-stop(0.50, alpha(@theme_tooltip_fg_color, 0.30)),
                                    to(alpha(@theme_tooltip_fg_color, 0.15)));

    border-style: none;
    border-image: none;
    border-radius: 2px;
    border-width: 0;
}

.frame {
    color: lighter (@theme_fg_color);
    border-style: none;
    border-width: 0;
}
